Kiosk/Web References/OCRScan/OCRScan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckValues">
        <s:complexType />
      </s:element>
      <s:element name="CheckValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckValuesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveOCRScan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PAN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TransID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="WorkStation" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ImageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Img" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveOCRScanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveOCRScanResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckValuesSoapIn">
    <wsdl:part name="parameters" element="tns:CheckValues" />
  </wsdl:message>
  <wsdl:message name="CheckValuesSoapOut">
    <wsdl:part name="parameters" element="tns:CheckValuesResponse" />
  </wsdl:message>
  <wsdl:message name="SaveOCRScanSoapIn">
    <wsdl:part name="parameters" element="tns:SaveOCRScan" />
  </wsdl:message>
  <wsdl:message name="SaveOCRScanSoapOut">
    <wsdl:part name="parameters" element="tns:SaveOCRScanResponse" />
  </wsdl:message>
  <wsdl:message name="CheckValuesHttpGetIn" />
  <wsdl:message name="CheckValuesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SaveOCRScanHttpGetIn">
    <wsdl:part name="PAN" type="s:string" />
    <wsdl:part name="bID" type="s:string" />
    <wsdl:part name="TransID" type="s:string" />
    <wsdl:part name="WorkStation" type="s:string" />
    <wsdl:part name="ImageType" type="s:string" />
    <wsdl:part name="Img" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="SaveOCRScanHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CheckValuesHttpPostIn" />
  <wsdl:message name="CheckValuesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SaveOCRScanHttpPostIn">
    <wsdl:part name="PAN" type="s:string" />
    <wsdl:part name="bID" type="s:string" />
    <wsdl:part name="TransID" type="s:string" />
    <wsdl:part name="WorkStation" type="s:string" />
    <wsdl:part name="ImageType" type="s:string" />
    <wsdl:part name="Img" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="SaveOCRScanHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CheckValues">
      <wsdl:input message="tns:CheckValuesSoapIn" />
      <wsdl:output message="tns:CheckValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveOCRScan">
      <wsdl:input message="tns:SaveOCRScanSoapIn" />
      <wsdl:output message="tns:SaveOCRScanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="CheckValues">
      <wsdl:input message="tns:CheckValuesHttpGetIn" />
      <wsdl:output message="tns:CheckValuesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveOCRScan">
      <wsdl:input message="tns:SaveOCRScanHttpGetIn" />
      <wsdl:output message="tns:SaveOCRScanHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="CheckValues">
      <wsdl:input message="tns:CheckValuesHttpPostIn" />
      <wsdl:output message="tns:CheckValuesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveOCRScan">
      <wsdl:input message="tns:SaveOCRScanHttpPostIn" />
      <wsdl:output message="tns:SaveOCRScanHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckValues">
      <soap:operation soapAction="http://tempuri.org/CheckValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOCRScan">
      <soap:operation soapAction="http://tempuri.org/SaveOCRScan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckValues">
      <soap12:operation soapAction="http://tempuri.org/CheckValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOCRScan">
      <soap12:operation soapAction="http://tempuri.org/SaveOCRScan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckValues">
      <http:operation location="/CheckValues" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOCRScan">
      <http:operation location="/SaveOCRScan" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckValues">
      <http:operation location="/CheckValues" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOCRScan">
      <http:operation location="/SaveOCRScan" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/OCRScan/OCRScan.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/OCRScan/OCRScan.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://localhost/OCRScan/OCRScan.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://localhost/OCRScan/OCRScan.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>